torch==2.8.0
transformers==4.55.2
trl==0.21.0
peft==0.17.0
accelerate==1.10.0
bitsandbytes==0.47.0
datasets==4.0.0

huggingface-hub==0.35.0
safetensors==0.6.2
tokenizers==0.21.4

numpy==2.1.2
pandas==2.2.3
pyarrow==21.0.0

matplotlib==3.10.7
seaborn==0.13.2
tqdm==4.67.1

packaging==25.0
PyYAML==6.0.2
regex==2025.9.1
requests==2.32.5
psutil==7.0.0
